@model IEnumerable<CRUD_WEB.Models.tbl_Category>

@{
    ViewBag.Title = "ShowData";
}

<h2>ShowData</h2>

@if (TempData["issuccess"] != null)
{
    <div class="alert alert-danger p-2" role="alert">
        @TempData["issuccess"]
    </div>
}

<script>
    function confirmDelete() {
        return confirm("Are you sure you want to delete it??");
    }
</script>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }, htmlAttributes: new { @class = "btn btn-warning btn-sm" }) |
                @Html.ActionLink("Details", "Details", new { id = item.CategoryId }, htmlAttributes: new { @class = "btn btn-primary btn-sm" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId }, htmlAttributes: new { @class = "btn btn-danger btn-sm", onclick = "return confirmDelete();" })
            </td>
        </tr>
    }

</table>
